<div>
<img src=https://www.institutedata.com/wp-content/uploads/2019/10/iod_h_tp_primary_c.svg width="300">
</div>

# Lab 3.1.4
# *Python with MongoDB*

## Introduction to PyMongo

For this lab you will firstly need to install two programs (both for Windows and Mac users). If using Windows download then run the `msi` package in both cases.

1) MongoDB Community Server from https://www.mongodb.com/try/download/community

2) MongoDB Command Line Database Tools from https://www.mongodb.com/try/download/database-tools

**Installation instructions for Windows users:**

[Install MongoDB Community Edition on Windows](https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-windows/)

**The following resources may assist Mac users:**

[Install MongoDB Community Edition on macOS](https://www.mongodb.com/docs/manual/tutorial/install-mongodb-on-os-x/)

[How to Install Latest MongoDB on macOS](https://www.youtube.com/watch?v=NLw7Tln6IeM)

[How to install HomeBrew (often this helps, if you are having issues with your setup)](https://www.youtube.com/watch?v=IWJKRmFLn-g)

In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /Applications/anaconda3/lib/python3.11/site-packages (4.8.0)
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /Applications/anaconda3/lib/python3.11/site-packages (from pymongo) (2.6.1)

[notice] A new release of pip is available: 24.1.2 -> 24.2
[notice] To update, run: pip install --upgrade pip

In [16]:
from IPython.display import display, HTML
import pymongo
import pandas as pd
from pymongo import MongoClient
print ('Mongo version ' + pymongo.__version__)

Mongo version 4.8.0

**Start the mongod server (if it isn't already running):**

Windows:
1. Using Command Prompt navigate to the folder containing `mongod.exe` (e.g. by typing cd "C:\Program Files\MongoDB\Server\7.0\bin").
2.  Execute `mongod` at the prompt.

Mac:
1. Run `brew services start mongodb-community@7.0`

In [17]:
# Creating a client object in our local machine
client = MongoClient('localhost', 27017)

In [18]:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

In MongoDB, a **database** stores and manages collections of related data, similar to how you might organise files into folders on your computer.

Create a new database:

In [19]:
db = client.test

A **collection** in MongoDB is similar to a table in a relational database.
Collections store documents (records) in a structured format (usually in BSON, which is a binary representation of JSON).
The people collection likely contains documents related to people, such as user profiles, contact information, or other relevant data.
Each document within the people collection represents an individual person or entity.

In [20]:
print(client.list_database_names())

['admin', 'config', 'local', 'test']

It is important to note that MongoDB is lazy: the db won't get created until data has been written to it!

Create a collection called "shoppers" (with object name `mycol`):

In [21]:
#ANSWER
mycol= db.shoppers

In [22]:
mycol

Collection(Database(MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True), 'test'), 'shoppers')

Create a document (i.e. a dictionary) with two name:value items
("name" = "Paul", and "address" = "Mansfield Ave") and insert
it into the "shoppers" collection:

In [38]:
#ANSWER:
mydict = {"name": "Paul", "address": "Mansfield AVE"}
mycol.insert_one(mydict)

InsertOneResult(ObjectId('66a8b7eca401425ff87babfc'), acknowledged=True)

Now test for the existence of the database:

In [39]:
#ANSWER:
db_list = client.list_database_names()
print(db_list)

['admin', 'config', 'local', 'test']

List all collections in the database:

In [40]:
#ANSWER
collections = db.list_collection_names()
print(collections)

['shoppers']

In [42]:
# Insert another record in the "shoppers" collection
#("name" = "Rafa", "address" = "Holder Drive")
#and return the value of the _id field:

In [43]:
mydict = {"name": "Rafa", "address": "Holder Drive"}
insert_result = mycol.insert_one(mydict)
inserted_id = insert_result.inserted_id
print(inserted_id)

66a8b803a401425ff87babfd

Given the list of dicts below, insert multiple documents into
the collection using the insert_many() method:

In [44]:
mylist = [
  { "name": "Ashton", "address": "Axle St"},
  { "name": "Benjamin", "address": "Green Dr"},
  { "name": "Sally", "address": "Holly Blvd"},
  { "name": "Helen", "address": "Castor Prom"},
  { "name": "Craig", "address": "Parsons Way"},
  { "name": "Betty", "address": "Watters St"},
  { "name": "Aparna", "address": "Yonder Dr"},
  { "name": "Kent", "address": "Garrison St"},
  { "name": "Violet", "address": "Station St"},
  { "name": "Svetlana", "address": "Wayman Ave"}
]

In [45]:
insert_result = mycol.insert_many(mylist)

#Print a list of the _id values of the inserted documents:
print(inserted_id)

In [49]:
for x in mycol.find():
    print(x)

{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66a870a1a401425ff87babf9'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('66a87125a401425ff87babfa'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a8b560a401425ff87babfb'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a8b7eca401425ff87babfc'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('66a8b803a401425ff87babfd'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a8b807a401425ff87babfe'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66a8b807a401425ff87babff'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66a8b807a401425ff87bac00'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66a8b807a401425ff87bac01'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66a8b807a401425ff87bac02'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66a8b807a401425ff87bac03'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66a8b807a401425ff87bac04'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66a8b807a401425ff87bac05'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66a8b807a401425ff87bac06'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66a8b807a401425ff87bac07'), 'name': 'Svetlana', 'address': 'Wayman Ave'}

Execute the next cell to insert a list of dicts with specified `_id`s:

In [52]:
mylist = [
  { "_id": 13, "name": "Paul", "address": "Mansfield Ave"},
  { "_id": 14, "name": "Rafa", "address": "Holder Drive"},
  { "_id": 15, "name": "Ashton", "address": "Axle St"},
  { "_id": 16, "name": "Benjamin", "address": "Green Dr"},
  #{ "_id": 5, "name": "Sally", "address": "Holly Blvd"},
  #{ "_id": 6, "name": "Helen", "address": "Castor Prom"},
  #{ "_id": 7, "name": "Craig", "address": "Parsons Way"},
  #{ "_id": 8, "name": "Betty", "address": "Watters St"},
  #{ "_id": 9, "name": "Aparna", "address": "Yonder Dr"},
  #{ "_id": 10, "name": "Kent", "address": "Garrison St"},
  #{ "_id": 11, "name": "Violet", "address": "Station St"},
  #{ "_id": 12, "name": "Svetlana", "address": "Wayman Ave"}
]
x = mycol.insert_many(mylist)
print(x.inserted_ids)

[13, 14, 15, 16]

Now try inserting a new dict with an existing `_id`:

In [54]:
# Warning -- This code will return an error as id no: 12 is already exists
x = mycol.insert_one({ "_id": 24, "name": "Lola", "address": "Prospect Dr"})

So, if we want to manage `_id`s in code, we need to be careful!

This returns the first document in the collection:

This returns (and prints) all documents in the collection:

In [56]:
for x in mycol.find():
    print(x)

{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66a870a1a401425ff87babf9'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('66a87125a401425ff87babfa'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a8b560a401425ff87babfb'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a8b7eca401425ff87babfc'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('66a8b803a401425ff87babfd'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a8b807a401425ff87babfe'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66a8b807a401425ff87babff'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66a8b807a401425ff87bac00'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66a8b807a401425ff87bac01'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66a8b807a401425ff87bac02'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66a8b807a401425ff87bac03'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66a8b807a401425ff87bac04'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66a8b807a401425ff87bac05'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66a8b807a401425ff87bac06'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66a8b807a401425ff87bac07'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 13, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 14, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 15, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 16, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 24, 'name': 'Lola', 'address': 'Prospect Dr'}

This returns only the name and address fields:

In [57]:
for x in mycol.find({},{ "_id": 0, "name": 1, "address": 1 }):
    print(x)

{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield AVE'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Paul', 'address': 'Mansfield AVE'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Sally', 'address': 'Holly Blvd'}
{'name': 'Helen', 'address': 'Castor Prom'}
{'name': 'Craig', 'address': 'Parsons Way'}
{'name': 'Betty', 'address': 'Watters St'}
{'name': 'Aparna', 'address': 'Yonder Dr'}
{'name': 'Kent', 'address': 'Garrison St'}
{'name': 'Violet', 'address': 'Station St'}
{'name': 'Svetlana', 'address': 'Wayman Ave'}
{'name': 'Paul', 'address': 'Mansfield Ave'}
{'name': 'Rafa', 'address': 'Holder Drive'}
{'name': 'Ashton', 'address': 'Axle St'}
{'name': 'Benjamin', 'address': 'Green Dr'}
{'name': 'Lola', 'address': 'Prospect Dr'}

Print only the `_id` and name fields:

In [58]:
#ANSWER
for x in mycol.find({},{ "_id": 0, "name": 1}):
    print(x)

{'name': 'Paul'}
{'name': 'Rafa'}
{'name': 'Ashton'}
{'name': 'Benjamin'}
{'name': 'Sally'}
{'name': 'Helen'}
{'name': 'Craig'}
{'name': 'Betty'}
{'name': 'Aparna'}
{'name': 'Kent'}
{'name': 'Violet'}
{'name': 'Svetlana'}
{'name': 'Paul'}
{'name': 'Rafa'}
{'name': 'Rafa'}
{'name': 'Paul'}
{'name': 'Rafa'}
{'name': 'Ashton'}
{'name': 'Benjamin'}
{'name': 'Sally'}
{'name': 'Helen'}
{'name': 'Craig'}
{'name': 'Betty'}
{'name': 'Aparna'}
{'name': 'Kent'}
{'name': 'Violet'}
{'name': 'Svetlana'}
{'name': 'Paul'}
{'name': 'Rafa'}
{'name': 'Ashton'}
{'name': 'Benjamin'}
{'name': 'Lola'}

So, we must explicitly use `"_id": 0` to exclude it, but for other fields we simply omit them from the dict argument.

To include field conditionals in a query, we use `$` operators. This finds addresses starting with "S" or greater:

In [59]:
myquery = { "address": { "$gt": "S" } }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66a8b807a401425ff87bac03'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66a8b807a401425ff87bac04'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66a8b807a401425ff87bac06'), 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66a8b807a401425ff87bac07'), 'name': 'Svetlana', 'address': 'Wayman Ave'}

Here are some more comparison operators:

            $gt, $gte, $eq, $in, $nin, $exists, $and, $or, $not
            
Experiment with these until you understand how to use them.

Now find all docs with an address that begins with "W":  
(HINT: The value for "address" in the argument should be the regex-based dict { "$regex": "^W" }.)

In [60]:
#ANSWER:
myquery = { "address": { "$regex": "^W"} }
mydoc = mycol.find(myquery)
for x in mydoc:
    print(x)

{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66a8b807a401425ff87bac03'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66a8b807a401425ff87bac07'), 'name': 'Svetlana', 'address': 'Wayman Ave'}

Sorting can be applied by invoking the sort() method after the find() method. Sort the collection by the name field:

In [72]:
#ANSWER:
myquery = {}
mydoc = mycol.find(myquery).sort("name", 1)
for x in mydoc:
    print(x)

{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66a8b807a401425ff87bac04'), 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66a8b807a401425ff87babfe'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 15, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66a8b807a401425ff87babff'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 16, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66a8b807a401425ff87bac03'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66a8b807a401425ff87bac02'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66a8b807a401425ff87bac01'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66a8b807a401425ff87bac05'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 24, 'name': 'Lola', 'address': 'Prospect Dr'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('66a870a1a401425ff87babf9'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('66a8b7eca401425ff87babfc'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': 13, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a87125a401425ff87babfa'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a8b560a401425ff87babfb'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a8b803a401425ff87babfd'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 14, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66a8b807a401425ff87bac00'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66a8b807a401425ff87bac07'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66a8b807a401425ff87bac06'), 'name': 'Violet', 'address': 'Station St'}

Now sort in reverse order (HINT: The sort() method takes an optional second parameter.)

In [75]:
#ANSWER
#ANSWER:
myquery = {}
mydoc = mycol.find(myquery).sort("name", -1)
for x in mydoc:
    print(x)

{'_id': 11, 'name': 'Violet', 'address': 'Station St'}
{'_id': ObjectId('66a8b807a401425ff87bac06'), 'name': 'Violet', 'address': 'Station St'}
{'_id': 12, 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': ObjectId('66a8b807a401425ff87bac07'), 'name': 'Svetlana', 'address': 'Wayman Ave'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': ObjectId('66a8b807a401425ff87bac00'), 'name': 'Sally', 'address': 'Holly Blvd'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a87125a401425ff87babfa'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a8b560a401425ff87babfb'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': ObjectId('66a8b803a401425ff87babfd'), 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 14, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': ObjectId('66a870a1a401425ff87babf9'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': ObjectId('66a8b7eca401425ff87babfc'), 'name': 'Paul', 'address': 'Mansfield AVE'}
{'_id': 13, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 24, 'name': 'Lola', 'address': 'Prospect Dr'}
{'_id': 10, 'name': 'Kent', 'address': 'Garrison St'}
{'_id': ObjectId('66a8b807a401425ff87bac05'), 'name': 'Kent', 'address': 'Garrison St'}
{'_id': 6, 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': ObjectId('66a8b807a401425ff87bac01'), 'name': 'Helen', 'address': 'Castor Prom'}
{'_id': 7, 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': ObjectId('66a8b807a401425ff87bac02'), 'name': 'Craig', 'address': 'Parsons Way'}
{'_id': 8, 'name': 'Betty', 'address': 'Watters St'}
{'_id': ObjectId('66a8b807a401425ff87bac03'), 'name': 'Betty', 'address': 'Watters St'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': ObjectId('66a8b807a401425ff87babff'), 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 16, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': ObjectId('66a8b807a401425ff87babfe'), 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 15, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 9, 'name': 'Aparna', 'address': 'Yonder Dr'}
{'_id': ObjectId('66a8b807a401425ff87bac04'), 'name': 'Aparna', 'address': 'Yonder Dr'}

A single record can be deleted by specifying some criterion:

In [76]:
mycol.delete_one({ "address": "Castor Prom" })

DeleteResult({'n': 1, 'ok': 1.0}, acknowledged=True)

Now delete all docs with the 2-digit `Id` values:

In [80]:
#ANSWER:
mycol.delete_many({"_id": {"$regex": r"^\d{2}$"}})

DeleteResult({'n': 0, 'ok': 1.0}, acknowledged=True)

This would delete all docs:
`x = mycol.delete_many({})`

This would remove the collection:
`mycol.drop()`

This would drop the database:
`client.drop_database('test')`

Change the first instance of "address" == "Garrison St" to "Somers Ave" using update_one().  
(HINT: The 1st parameter of update_one() is the criterion (query); the 2nd is dict specifying the field to change and its new value.)

In [82]:
#ANSWER:
mycol.update_one(
    {"address": "Garrison St"}, 
    {"$set": {"address": "Somers Ave"}})

UpdateResult({'n': 1, 'nModified': 1, 'ok': 1.0, 'updatedExisting': True}, acknowledged=True)

The limit() method can be applied after the find() method to limit the number of docs returned. Show the first 5 docs:

In [84]:
#ANSWER:
mydoc = mycol.find().limit(5)
for x in mydoc:
    print(x)

{'_id': 1, 'name': 'Paul', 'address': 'Mansfield Ave'}
{'_id': 2, 'name': 'Rafa', 'address': 'Holder Drive'}
{'_id': 3, 'name': 'Ashton', 'address': 'Axle St'}
{'_id': 4, 'name': 'Benjamin', 'address': 'Green Dr'}
{'_id': 5, 'name': 'Sally', 'address': 'Holly Blvd'}

## PyMongo for Data Science

MongoDB has many more features of interest to developers, but the main focus of a data scientist will be wrangling and munging the data. It may or may not be desirable to do all the data munging in Pandas; for a large, distributed database, it may be imperative to perform aggregation in MongoDB.

In [77]:
# Ref:  https://rsandstroem.github.io/MongoDBDemo.html

import pandas as pd
import numpy as np

The following code in the next few cells, will create a database named "command_test" which populates its data from a local JSON file called dummyData.json (you need to download this from the Google Classroom DATA folder) using the mongoimport program.

**Step 1**. Using the command prompt (Windows) or Terminal (Mac) change to the directory containing the file mongoimport.exe (example: cd "C:\Program Files\MongoDB\Tools\100\bin")

**Step 2**. After you have changed your directory, copy/paste the line below in the command prompt/ terminal after modifying "dummydata.json" to include the path on your system where the file is located:
<br>

      mongoimport --db command_test --collection people --drop --file "dummyData.json"       

- db: stands for database name that you use --> in our case, it is "command_test"
- collection: stands for the collection you created within the database --> in our case it is "people"
- file: stands for the file path to your "dummyData.json" file, which you downloaded from our Google Classroom DATA folder - you may need to modify "dummyData.json"

**Step 3**. Copy/paste the line below into the command prompt or terminal:
<br>

    mongoimport -d command_test -c people --file "dummyData.json"

In [97]:
client = MongoClient('localhost', 27017) #connects to your local mongoDB

If the above is successful, running the next cell should produce three records corresponding to the youngest people.

In [98]:
db = client.command_test
collection = db.people
cursor = collection.find().sort('Age',pymongo.ASCENDING).limit(3)
for doc in cursor:
    print (doc)

Here is a small demonstration of the MongoDB aggregation framework. We want to create a table of the number of persons in each country and their average age. To do it we group by country. We extract the results from MongoDB aggregation into a pandas dataframe, and use the country as index.

In [96]:
pipeline = [
    {"$group": {"_id": "$Country", "AvgAge": {"$avg": "$Age"}, "Count": {"$sum": 1}}},
    {"$sort": {"Count": -1, "AvgAge": 1}}
]

aggResult = collection.aggregate(pipeline)  # returns a cursor

df1 = pd.DataFrame(list(aggResult))

print(df1.head())

Empty DataFrame
Columns: []
Index: []

For simple cases one can either use a cursor through find("search term") or use the "$match" operator in the aggregation framework, like this:

In [101]:
pipeline = [
        {"$match": {"Country":"China"}},
]
aggResult = collection.aggregate(pipeline)
df2 = pd.DataFrame(list(aggResult))
df2.head()
print(df2.head())

Empty DataFrame
Columns: []
Index: []

Now we can apply all the power of Python libraries to analyse and visualise the data. Here, we will use the folium package to plot markers for the locations of the people we just found in China (click on a marker to see their data):

In [ ]:
# Un-comment and execute to install folium pkg (1st time only):
# import sys
# !{sys.executable} -m pip install folium

In [91]:
import folium
print ('Folium version ' + folium.__version__)

world_map = folium.Map(location = [35, 100], zoom_start = 4)
for i in range(len(df2)):
    location = [float(loc) for loc in df2.Location[i].split(',')]
    folium.Marker(location = location, popup = df2.Name[i] + ', age:' + str(df2.Age[i])).add_to(world_map)

world_map

Folium version 0.16.0

In [92]:
#Finally drop the databases created in the lab:
print(client.list_database_names())
client.drop_database('test')
client.drop_database('command_test')
print(client.list_database_names())

['admin', 'config', 'local', 'test']
['admin', 'config', 'local']

## HOMEWORK:

1. Read up on how to perform aggregation in mongoDB. Insert a duplicate record into the collection:
        mydict = {"name": "Benjamin", "address": "Green Dr"}
   Now write a command to find docs with a duplicate "name" field (using aggregation) and remove them.  
   Print the collection.

2. Read up on how to apply indexes in mongoDB. Create an index on the "name" and "address" fields in this collection.
   Print the indexes for the collection.



>
>
>



---



---



> > > > > > > > > © 2024 Institute of Data


---



---