In [1]:
import sqlite3
sqlite_db = 'test_db.sqlite'
conn = sqlite3.connect(sqlite_db)
c = conn.cursor()

In [19]:
c.execute('CREATE TABLE students (student_id INTEGER PRIMARY KEY, name TEXT, age INTEGER, major TEXT);')
conn.commit()

In [18]:
c.execute('DROP TABLE students;')

In [20]:
student1 = (1, 'mary', 15, 'science')

# Execute Command
c.execute('INSERT INTO students VALUES (?,?,?,?)',student1)

# Remember to commit the changes
conn.commit()

In [21]:
all_students=c.execute("SELECT name FROM students")
all_students.fetchall()

[('mary',)]

<sqlite3.Cursor object at 0x1053831c0>

In [24]:
c.execute('CREATE TABLE enrollments (enrollment_id INTEGER PRIMARY KEY, student_id integer FOREIGN_KEY, course_id INTERGER FORIEGN_KEY);')
conn.commit()

In [25]:
c.execute('CREATE TABLE exams (exam_id INTEGER PRIMARY KEY, enrollment_id INTEGER FOREIGN_KEY, score INTEGER);')
conn.commit()

In [34]:
values = [(5,'Rachel',22, "geometry"),(6,'JAnet',25, "english"),(7,'Jim',22, "cartography")]
c.executemany("INSERT INTO students (student_id, name, age, major) VALUES (?, ?, ?, ?)", values)
conn.commit

In [37]:
all_students=c.execute("SELECT age FROM students")
all_students.fetchall()

[(15,), (22,), (25,), (21,), (22,), (25,), (22,)]