In [3]:
#import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
#import csv
used_car_df=pd.read_csv("vehicles.csv")

In [ ]:
df=used_dar_df

# EDA

In [5]:
df.head()

,id,url,region,region_url,price,year,manufacturer,model,condition,cylinders,...,size,type,paint_color,image_url,description,county,state,lat,long,posting_date
0,7222695916,https://prescott.craigslist.org/cto/d/prescott...,prescott,https://prescott.craigslist.org,6000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,az,NaN,NaN,NaN
1,7218891961,https://fayar.craigslist.org/ctd/d/bentonville...,fayetteville,https://fayar.craigslist.org,11900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ar,NaN,NaN,NaN
2,7221797935,https://keys.craigslist.org/cto/d/summerland-k...,florida keys,https://keys.craigslist.org,21000,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,fl,NaN,NaN,NaN
3,7222270760,https://worcester.craigslist.org/cto/d/west-br...,worcester / central MA,https://worcester.craigslist.org,1500,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,ma,NaN,NaN,NaN
4,7210384030,https://greensboro.craigslist.org/cto/d/trinit...,greensboro,https://greensboro.craigslist.org,4900,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,nc,NaN,NaN,NaN

In [ ]:
df.info()

In [6]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,
                                 'percent_missing': percent_missing})
missing_value_df.sort_values('percent_missing', ascending=False, inplace=True)
missing_value_df

               column_name  percent_missing
county              county       100.000000
size                  size        71.767476
cylinders        cylinders        41.622470
condition        condition        40.785232
VIN                    VIN        37.725356
drive                drive        30.586347
paint_color    paint_color        30.501078
type                  type        21.752717
manufacturer  manufacturer         4.133714
title_status  title_status         1.930753
lat                    lat         1.534155
long                  long         1.534155
model                model         1.236179
odometer          odometer         1.030735
fuel                  fuel         0.705819
transmission  transmission         0.598763
year                  year         0.282281
description    description         0.016398
image_url        image_url         0.015930
posting_date  posting_date         0.015930
url                    url         0.000000
price                price         0.000000
state                state         0.000000
region_url      region_url         0.000000
region              region         0.000000
id                      id         0.000000

In [31]:
df["type"].value_counts()

KeyError: 'type'

In [19]:
df['VIN'].tail(50)

426830                  NaN
426831                  NaN
426832    JTDKB20U840108051
426833    SAJGX2749VCOO8376
426834                  NaN
426835                  NaN
426836    3C6UR5HL3JG307217
426837                  NaN
426838                  NaN
426839                  NaN
426840                  NaN
426841                  NaN
426842                  NaN
426843                  NaN
426844    2FMHK6D89EBD27241
426845    WVGBV7AX2HK019658
426846                  NaN
426847    1G1JD5SH4C4157643
426848    1HGEM22945L050909
426849    1G1JC5SHXG4109797
426850    5UXZV4C5XD0B23352
426851    KMHDH4AE3DU596582
426852    2HGFA1F50BH519324
426853    1N4AL11D65C178008
426854    2T1LE40EX9C008501
426855    3C3CFFBRXCT171831
426856    JN8AZ08W03W203477
426857    JTEBU5JR6K5659628
426858    1GYKPCRS2LZ197998
426859    1GYKPCRSXLZ181516
426860    JN8AZ2NE3H9156734
426861    ZARFAMBN5K7621550
426862    KMHGN4JE4JU248193
426863    KMHGN4JE2HU183838
426864    JTEZU5JR1G5145918
426865    ZARFAMAN7L7629796
426866    JN8AZ2NF5G9611039
426867    SAJAE4FX8JCP34579
426868    4T3BK3BB0AU043625
426869    JTNKARJE8GJ511296
426870    5NPEG4JAXLH051710
426871    KNDPMCAC7J7417329
426872    55SWF8DB6LU325050
426873    WDC0G4JB6JV019749
426874    JTHBZ1BLXJA012999
426875    1N4AA6AV6KC367801
426876    7JR102FKXLG042696
426877    1GYFZFR46LF088296
426878    58ABK1GG4JU103853
426879    WBA4J1C58KBM14708
Name: VIN, dtype: object

In [28]:
import requests

def decode_vin(vin):
    url = f'https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVin/{vin}?format=json'
    response = requests.get(url)
    
    if response.status_code == 200:
        data = response.json()
        results = data.get('Results', [])
        vin_details = {item['Variable']: item['Value'] for item in results if item['Value']}
        return vin_details
    else:
        return None

# Example usage
vin_number = '1HGCM82633A123456'  # Replace with your VIN number
vin_details = decode_vin(vin_number)

if vin_details:
    for key, value in vin_details.items():
        print(f'{key}: {value}')
else:
    print('Failed to decode VIN')

Error Code: 1
Error Text: 1 - Check Digit (9th position) does not calculate properly
Vehicle Descriptor: 1HGCM826*3A
Make: HONDA
Manufacturer Name: AMERICAN HONDA MOTOR CO., INC.
Model: Accord
Model Year: 2003
Plant City: MARYSVILLE
Trim: EX-V6
Vehicle Type: PASSENGER CAR
Plant Country: UNITED STATES (USA)
Plant State: OHIO
Body Class: Coupe
Doors: 2
Gross Vehicle Weight Rating From: Class 1C: 4,001 - 5,000 lb (1,814 - 2,268 kg)
Gross Vehicle Weight Rating To: Class 1: 6,000 lb or less (2,722 kg or less)
Bed Type: Not Applicable
Cab Type: Not Applicable
Trailer Type Connection: Not Applicable
Trailer Body Type: Not Applicable
Transmission Style: Automatic
Transmission Speeds: 5
Engine Number of Cylinders: 6
Displacement (CC): 2998.832712
Displacement (CI): 183
Displacement (L): 2.998832712
Engine Model: J30A4
Fuel Type - Primary: Gasoline
Valve Train Design: Single Overhead Cam (SOHC)
Engine Configuration: V-Shaped
Engine Brake (hp) From: 240
Seat Belt Type: Manual
Other Restraint System Info: Seat Belt (Rr center position)
Curtain Air Bag Locations: 1st and 2nd Rows
Front Air Bag Locations: 1st Row (Driver and Passenger)
Side Air Bag Locations: 1st Row (Driver and Passenger)
Bus Floor Configuration Type: Not Applicable
Bus Type: Not Applicable
Custom Motorcycle Type: Not Applicable
Motorcycle Suspension Type: Not Applicable
Motorcycle Chassis Type: Not Applicable

In [29]:
import requests
import pandas as pd
import time

def decode_vin(vin, retries=5, backoff_factor=0.3):
    url = f'https://vpic.nhtsa.dot.gov/api/vehicles/DecodeVin/{vin}?format=json'
    for i in range(retries):
        try:
            response = requests.get(url, timeout=10)
            response.raise_for_status()
            data = response.json()
            results = data.get('Results', [])
            vin_details = {item['Variable']: item['Value'] for item in results if item['Value']}
            return vin_details
        except (requests.exceptions.RequestException, ValueError) as e:
            print(f"Error fetching VIN data for {vin}: {e}")
            if i < retries - 1:
                sleep_time = backoff_factor * (2 ** i)
                print(f"Retrying in {sleep_time} seconds...")
                time.sleep(sleep_time)
            else:
                return None

def get_vin_details(vin_list):
    vin_data = []
    for vin in vin_list:
        vin_details = decode_vin(vin)
        if vin_details:
            vin_data.append({
                "VIN": vin,
                "Make": vin_details.get("Make"),
                "Model": vin_details.get("Model"),
                "Year": vin_details.get("Model Year"),
                "Transmission Style": vin_details.get("Transmission Style"),
                "Engine Number of Cylinders": vin_details.get("Engine Number of Cylinders"),
                "Fuel Type - Primary": vin_details.get("Fuel Type - Primary")
            })
        else:
            vin_data.append({
                "VIN": vin,
                "Make": None,
                "Model": None,
                "Year": None,
                "Drive Type": None,
                "Engine Number of Cylinders": None,
                "Fuel Type - Primary": None
            })
    return pd.DataFrame(vin_data)

# Example usage
# Assuming df is your DataFrame containing the VINs
df = pd.DataFrame({"VIN": ['1HGCM82633A123456', '1HGCM82633A654321']})  # Example DataFrame, replace with your own data
vin_list = df["VIN"].tolist()  # Convert DataFrame column to list
vin_df = get_vin_details(vin_list)

print(vin_df)

                 VIN   Make   Model  Year Transmission Style  \
0  1HGCM82633A123456  HONDA  Accord  2003          Automatic
1  1HGCM82633A654321  HONDA  Accord  2003          Automatic

  Engine Number of Cylinders Fuel Type - Primary
0                          6            Gasoline
1                          6            Gasoline

In [30]:
vin_df.head()

,VIN,Make,Model,Year,Transmission Style,Engine Number of Cylinders,Fuel Type - Primary
0,1HGCM82633A123456,HONDA,Accord,2003,Automatic,6,Gasoline
1,1HGCM82633A654321,HONDA,Accord,2003,Automatic,6,Gasoline

In [ ]:
df = df.drop(columns=['url', 'region_url','image_url','VIN','id','county','lat',"long","posting_date"]) 
#drop url columns no value from these columns

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split