In [1]:
import sqlite3
sqlite_db = 'test_db.sqlite'
conn = sqlite3.connect(sqlite_db)
c = conn.cursor()

In [40]:
c.execute('CREATE TABLE students (student_id INTEGER PRIMARY KEY, name TEXT, age INTEGER, major TEXT);')
conn.commit()

In [39]:
c.execute('DROP TABLE students;')

In [20]:
student1 = (1, 'mary', 15, 'science')

# Execute Command
c.execute('INSERT INTO students VALUES (?,?,?,?)',student1)

# Remember to commit the changes
conn.commit()

In [21]:
all_students=c.execute("SELECT name FROM students")
all_students.fetchall()

[('mary',)]

<sqlite3.Cursor object at 0x1053831c0>

In [24]:
c.execute('CREATE TABLE enrollments (enrollment_id INTEGER PRIMARY KEY, student_id integer FOREIGN_KEY, course_id INTERGER FORIEGN_KEY);')
conn.commit()

In [25]:
c.execute('CREATE TABLE exams (exam_id INTEGER PRIMARY KEY, enrollment_id INTEGER FOREIGN_KEY, score INTEGER);')
conn.commit()

In [43]:
values = [(None,'Rachel',22, "geometry"),(None,'Janet',25, "english"),(None,'Jim',22, "cartography"),(None,'Steve',27, "math"),(None,'Heather',23, "maths"),(None,'Andrew',19, "cartography"),(None,'Angela',21, "english"),(None,'Geoff',22, "art"),(None,'Mary',37, "geography")]
c.executemany("INSERT INTO students (student_id, name, age, major) VALUES (?, ?, ?, ?)", values)
conn.commit

In [45]:
values = [(None,'James',29, "physics"),(None,'Fred',25, "philosophy"),(None,'Brenda',22, "math"),(None,'Tim',22, "art"),(None,'Stu',24, "physics"),(None,'Carl',17, "cartography"),(None,'Janice',19, "english"),(None,'Linda',26, "law"),(None,'Sarah',32, "geography")]
c.executemany("INSERT INTO students (student_id, name, age, major) VALUES (?, ?, ?, ?)", values)
conn.commit

In [46]:
all_students=c.execute("SELECT student_id, name, age, major FROM students")
all_students.fetchall()

[(1, 'Rachel', 22, 'geometry'),
 (2, 'Janet', 25, 'english'),
 (3, 'Jim', 22, 'cartography'),
 (4, 'Steve', 27, 'math'),
 (5, 'Heather', 23, 'maths'),
 (6, 'Andrew', 19, 'cartography'),
 (7, 'Angela', 21, 'english'),
 (8, 'Geoff', 22, 'art'),
 (9, 'Mary', 37, 'geography'),
 (10, 'James', 29, 'physics'),
 (11, 'Fred', 25, 'philosophy'),
 (12, 'Brenda', 22, 'math'),
 (13, 'Tim', 22, 'art'),
 (14, 'Stu', 24, 'physics'),
 (15, 'Carl', 17, 'cartography'),
 (16, 'Janice', 19, 'english'),
 (17, 'Linda', 26, 'law'),
 (18, 'Sarah', 32, 'geography')]

In [ ]:
exam_values = [(None,'James',29, "physics"),(None,'Fred',25, "philosophy"),(None,'Brenda',22, "math"),(None,'Tim',22, "art"),(None,'Stu',24, "physics"),(None,'Carl',17, "cartography"),(None,'Janice',19, "english"),(None,'Linda',26, "law"),(None,'Sarah',32, "geography")]
c.executemany("INSERT INTO students (student_id, name, age, major) EXAM_VALUES (?, ?, ?, ?)", values)
conn.commit